
.raio-interativo {
  background: linear-gradient(328deg, rgba(0,69,255,1) 0%, rgba(230,0,202,0.9808298319327731) 100%);
  height: 200px;
  width: 200px;
  margin-top: 1em;
}

.text-div {
  width: 50%;
  max-width: 300px;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
  font-size: large;
}

.radius-wrapper {
  display: flex;
  justify-content: center;
  padding-left: 20% auto;
  padding-right: 20% auto;
  max-height: 100px;
}


.square-wrapper{
  display: flex;
  justify-content: center;
}

.input-div{
  max-height: 100px;
  max-width: 200px;
  margin: 1%;
}

.border-radius-containter {
  padding-block-end: 10px;
  border-color: purple;
  border-style: solid;
}

