<div class = "wrapper">
  <ul>
      <li>
        <a href="/bin2dec" class="name">
          <div>
            Conversor binário para decimal
          </div>
        </a>
        </li>
      <li>
        <a href="/border-radius" class="name">
          <div>
              Border-radius preview
          </div>
        </a>
        </li>
      <li>
        <a href="/calculadora" class="name">
          <div>
            Calculadora
          </div>
        </a>
      </li>
      <li>
        <a href="/true-or-false" class="name">
          <div>
            True Or False
          </div>
        </a>
      <li>
        <a href="/luzes-natal" class="name">
          <div>
            Luzes de Natal
          </div>
        </a>
  </ul>   
</div>