nav {
	float: left;
	width: 20%;
	height: 100%;
	background: rgba(204, 204, 204, 0.158);
	padding: 20px;
}

/* Style the list inside the menu */
nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	margin-bottom: 15px;
}

a:visited {
	color: purple;
}

article {
	float: left;
	padding: 20px;
	width: 80%;
	height: 100%;
	background-color: rgba(204, 204, 204, 0.041);
}

/* Clear floats after the columns */
section::after {
	content: "";
	display: table;
	clear: both;
}

section {
	border-color: purple;
	border-width: 0.5px;
	border-style: solid;
}
